body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0rem;
    padding: 0;
}

.navbar {
    background-color: #111;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #0f0;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
}

.navbar a:hover {
    border-bottom: 2px solid #0f0;
}

.content {
    padding: 20px;
}

.login-logout {
    text-align: right;
    padding: 10px;
}

.login-logout form {
    display: inline-block;
}

.login-logout button {
    background-color: #111;
    color: #0f0;
    border: none;
    padding: 8px 12px; /* Adjusted padding for consistency */
    cursor: pointer;
}

.login-logout button:hover {
    background-color: #0f0;
    color: #000;
}
