{% extends 'layout.html' %}

{% block content %}
    <div class="password-generator-section">
        <h1>Password Generator</h1>

        <form action="/generate_password" method="post" class="password-form">
            <label for="password_length">Password Length:</label>
            <input type="number" name="password_length" value="0" min="8" required>
            <button type="submit" class="generate-button">Generate Password</button>
        </form>

        {% if generated_password %}

            <div class="generated-password-section">
                <p class="generated-password" id="generatedPassword">{{ generated_password }}</p>
                <button id="copyToClipboardButton">Copy to Clipboard</button>
            </div>
        {% endif %}

    </div>

    <script>
        const copyToClipboardButton = document.getElementById('copyToClipboardButton');
        const generatedPasswordElement = document.getElementById('generatedPassword');

        copyToClipboardButton.addEventListener('click', () => {
            const textarea = document.createElement('textarea');
            textarea.value = generatedPasswordElement.innerText;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('Password copied to clipboard!');
        });
    </script>
{% endblock %}

