{% extends 'layout.html' %}

{% block content %}
    <div class="password-generator-section">
        <h1>Password Generator</h1>

        <form action="/generate_password" method="post" class="password-form">
            <label for="password_length">Password Length:</label>
            <input type="number" name="password_length" value="0" min="8" required>
            <button type="submit" class="generate-button">Generate Password</button>
        </form>

{% if generated_password %}
    <div class="generated-password-section">
        <p>Generated Password:</p>
        <p class="generated-password" id="generatedPassword">{{ generated_password }}</p>
    </div>

{% if generated_password %}
    <div class="generated-password-section">
        <p class="generated-password" id="generatedPassword">{{ generated_password }}</p>
        <button id="copyToClipboardButton">Copy to Clipboard</button>
    </div>


{% endif %}
{% endif %}

    </div>
{% endblock %}
