{% extends 'layout.html' %}

{% block content %}
    <h1>Password Generator</h1>

    <form action="/generate_password" method="post">
        <label for="password_length">Password Length:</label>
        <input type="number" name="password_length" value="12" min="8" required>
        <button type="submit">Generate Password</button>
    </form>

    {% if generated_password %}
        <div>
            <p>Generated Password:</p>
            <p id="generatedPassword">{{ generated_password }}</p>
        </div>

<script>
const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
const generatedPasswordElement = document.getElementById('generatedPassword');
let originalText = generatedPasswordElement.innerText;

let interval = null;

generatedPasswordElement.onmouseover = event => {
    let iteration = 0;

    clearInterval(interval);

    interval = setInterval(() => {
        generatedPasswordElement.innerText = generatedPasswordElement.innerText
            .split("")
            .map((letter, index) => {
                if (index < iteration) {
                    return generatedPasswordElement.dataset.value[index];
                }

                return letters[Math.floor(Math.random() * 26)];
            })
            .join("");

        if (iteration >= generatedPasswordElement.dataset.value.length) {
            clearInterval(interval);
        }

        iteration += 1 / 3;
    }, 30);
}

generatedPasswordElement.onmouseout = () => {
    clearInterval(interval);
    let currentIndex = 0;

    interval = setInterval(() => {
        if (currentIndex >= originalText.length) {
            clearInterval(interval);
        } else {
            generatedPasswordElement.innerText = originalText.substring(0, currentIndex + 1);
            currentIndex += 1;
        }
    }, 100); // Adjust the interval duration for slower revert
}
</script>
    {% endif %}
{% endblock %}
